[submodule "prezto"]
	path = prezto
	url = https://github.com/Vinh-CHUC/prezto.git
    branch = master
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/site/pack/packer/start/packer.nvim"]
	path = nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
