layout {
    default_tab_template hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="vertical" {
            pane size="70%"
            pane size="30%"
            children
        }
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
        floating_panes {
            pane name="gitui" width="80%" height="80%" x="10%" y="10%"
            pane name="git" width="80%" height="80%" x="11%" y="11%"
        }
    }
    tab name="C++ Playground" cwd="sandbox/languages/cpp/playground"
    tab name="Rust Playground" cwd="sandbox/languages/rust"
    tab name="Python Playground" cwd="sandbox/languages/python/playground"
    tab name="Lean4 Playground" cwd="sandbox/languages/lean4/playground"
    tab name="config-files" cwd="config-files"
    tab name="Obsidian" cwd="../Documents/Personal"
    tab name="Lua Playground" cwd="sandbox/languages/lua"
    tab name="Haskell Playground" cwd="sandbox/languages/haskell/haskell-playground"
}
